body{
   margin: 0;
   box-sizing: border-box;
   background-color:  #F6F8F9;
   font-family: 'Roboto', sans-serif;

}

/* header */

header{
    background-color: white;
    border-top: solid lightgrey 1px;
}

.logo{
    vertical-align: middle;
    margin-left: 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}